/* 
.container .box{
    position: relative;
    width: 25%;
    height: 100%;
    overflow: hidden;
    border-right: 10px solid #fff;
    opacity : 0;
    animation : slideRight 0.5s ease-in-out forwards;
    animation-delay: calc(0.2s*var(--i));
}
.container .box:last-child{
    border-right: none;
}
.container .box .imgBx{
    position : absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.container .box .imgBx.active{
    position : fixed;
    top:100px;
    left:100px;
    width: calc(100%-200px);
    height: calc(100%-200px);
    z-index : 1000;
    opacity: 1;
}
.container .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:0.5s
}
.container .box .imgBx:hover img{
    transform: scale(1.2);
}
.container .box .imgBx.active:hover img{
    transform: scale(1);
}   */