.title{
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(85, 85, 85);
}
.wrapper {
    margin: 0 auto;
}
.center:hover{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.center{
    background: #fff;
    color: #000;
    max-width: 100px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    display: block;
    margin: 15px auto;
    padding: 5px 15px;
}

.contact{
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: space-between;
 }
 .contact h3, 
 .contact p{
     color : #fff;
 }
 .contactForm {
     position : relative;
     max-width: 800px;
     margin: 0 auto;
     display: flex;
     background: #DA727B;
     padding: 20px 100px;
     border-radius: 10px;
 }
 .contactForm form{
     width: 100%;
 }
 .contactForm .row100{
     width: 100%;
     display: flex;
 }
 .contactForm .row100 .inputBx50{
     width: 50%;
     margin : 0 20px;
 }
 .contactForm .row100 .inputBx100{
     width: 100%;
     margin : 0 20px;
 }
 .contactForm .row100 input,
 .contactForm .row100 textarea{
     position : relative;
     border: none;
     border-bottom: 1px solid #fff;
     color : #fff;
     background: transparent;
     width: 100%;
     padding: 10px 0;
     outline : none;
     font-size: 18px;
     font-weight: 300;
     margin : 20px 0;
     resize: none;
 }
 
 .contactForm .row100 textarea{
     height: 100px;
 }
 .contactForm .row100 input::placeholder,
 .contactForm .row100 textarea::placeholder{
     color: rgba(255,255,255,0.5);
 }
 .contactForm .row100 button{
     background: #fff;
     color: #000;
     max-width: 100px;
     text-transform: uppercase;
     font-weight: 500;
     letter-spacing: 2px;
     cursor: pointer;
     display: block;
 }
 .center{
     display: flex;
     justify-content: center;
 }
 /* .wrapper{
     min-height : calc(100vh - 7vh)
 } */
   /* .sci ul li a img{
       filter: invert(1);
       max-width: 40px;
     }
     .sci ul li a:hover img{
       opacity: 0.5;
     }  */
 /* .sci{
     position : relative;
     display : flex;
   justify-content: center;
   align-items: center;
   margin : 50px 0;
 }
 
 
 
 
   /* responsive */
 
   @media screen and (max-width: 768px){
     .contactForm .row100{
         display: block;
     }
     .contactForm .row100 .inputBx50{
         width: 100%;
         margin : 0;
     }
     .contactForm .row100 .inputBx100{
         width: 100%;
         margin : 0;
     }
     .contactForm .row100 input,
     .contactForm .row100 textarea{
         width: 100%;
         margin : 20px 0;
     }
     .contactForm .row100 textarea{
         height: 100px;
     }
     .contactForm .row100 input[type="submit"]{
         max-width: 100px;
     }
     .sec{
         padding: 100px 50px 50px 50px;
     }
     .submit {
         margin: 0 auto;
     }
 }
 
 