/* Gallery */
.gallery{
    margin: 30px;
}
.gallery_content{
    position : relative;
    display : grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin: 40px;
    height: auto !important;
}


