
.sci ul{
    display : flex;
    margin-bottom: 5px;
  }
  .sci ul li{
      list-style: none;
      color: #fff;
    }
    .sci ul li a{
    text-decoration: none;
    display: inline-block;
    margin : 0 15px;
    }
  
    .footer{
  
      background: #DA727B;
      color: #fff;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
      padding: 20px 100px;
      max-width: 100%;
      max-height:auto;
      justify-content: center;

    
  }
    .footer p{
        color: #fff;
    }
    .center{
      justify-content: center;
      width: 100%;
    }